body { 
	text-align:center;
	color: #000000;
    font-size: 13px; 
    font-family: arial, helvetica, sans-serif;
    font-weight: normal; 
    margin-left: 20px; 
    background: #ffffff;
    margin-right: auto;
	margin-left:auto;
    margin-top: 20px;
    margin-bottom: 20px;        
	width:930px;       
	}

#logo {
	margin-top: 12px; margin-bottom: 0px;
    }

#dept {
	line-height: 1.6;
	}

a:link {color: #000000;}
a:visited {color: #000000;}
a:hover {color: #cc0000;}
a:active {color: #cc0000;}

a.info:link {color: #000000;}
a.info:visited {color: #000000;}
a.info:hover {color: #000000;}
a.info:active {color: #000000;}

a.tour:link {color: #006600;}
a.tour:visited {color: #006600;}
a.tour:hover {color: #cc0000;}
a.tour:active {color: #006600;}

a.new:link {color: #cc0000;}
a.new:visited {color: #cc0000;}
a.new:hover {color: #006600;}
a.new:active {color: #cc0000;}

a.menu:link {
	color: #000000; 
    font-weight: bold;
    font-size: 13px;
    text-decoration: underline;
    }

a.menu:visited {
    color: #000000; 
    font-weight: bold;
    font-size: 13px;
	text-decoration: underline;
	}

a.menu:hover {
	color: #cc0000; 
	font-weight: bold;
	font-size: 13px;
	text-decoration: underline;
	}

a.menu:active {
	color: #000000; 
	font-weight: bold;
	font-size: 13px;
	text-decoration: underline;
	}

a.forum:link {
	color: #0000cc; 
	font-weight: bold;
	font-size: 13px;
	text-decoration: underline;
	}

a.forum:visited {
	color: #0000cc; 
	font-weight: bold;
	font-size: 13px;
	text-decoration: underline;
	}

a.forum:hover {
	color: #cc0000; 
	font-weight: bold;
	font-size: 13px;
	text-decoration: underline;
	}

a.forum:active {
	color: #0000cc; 
	font-weight: bold;
	font-size: 13px;
	text-decoration: underline;
	}

p.advertise {
	font-size:12px;
	margin-left:10px;
	padding-left:0px;
	font-size: 13px; 
}

#header {
	font-family:Arial, Helvetica, sans-serif;
	background-image:url("http://www.flashandmath.com/images/logo930.jpg");
	background-repeat:no-repeat;
	width:930px;
	height:90px;
	position:relative;
}

#header .title {
	margin-left:45px;
	font-weight: bold; 
	font-size: 24px; 
	color: #000000;
}

#header h1 {
    font-weight: normal;
	padding-top:23px;
	margin-left:140px;
	font-size:18px;
}

#header h2 {
    font-weight: normal;
	padding-top:15px;
	margin-left:140px;
	font-size:18px;
}

#header a {
	position:absolute;
	top:0;
	left:0;;
    width:100px;
    height:90px;
}

#header a:hover {
	background:none;
	}


#invis {
	display:none;
}

#content {
	text-align:left;
	padding-top:5px;
	padding-bottom:20px;
	margin-right:0px;
	padding-right:0px;
	margin-left:0px;
	padding-left:0px;
	width: 854px;
	
	}

#content ul {
	margin-bottom:20px;
	padding-bottom:0px;
	}
		
#content ul li {
	margin-bottom:0px;
	padding-bottom:0px;
	}
	

#content p {
	margin-left:0px;
	padding-bottom:5px;
	}

#content h1 {
	font-size:14px;
	color:#000000;
	font-weight:bold;
	}

#content h2 {
	font-size:14px;
	color:#CC0000;
	font-weight:bold;
	}

#bookListings {
	width:560px;
	margin-right:10px;
	padding-right:20px;
	border-top:1px solid #000000;
	background-color:#EFEFEF;
	}

#bookListings ul {
	margin-left:20px;
	padding-left:0px;
	margin-top:10px;
	padding-top:0px;
	}

#bookListings ul li {
	list-style:none;
	width:100%;
	margin-top:10px;
	padding-top:0px;
	margin-bottom:5px;
	padding-bottom:0px;
	border-bottom:1px solid #000000;
	}

#bookListings ul p {
	padding-left:0px;
	padding-bottom:5px;
	}

#bookListings a {
	color:#0000FF;
	}
	
#siteListings ul {
	margin-left:20px;
	padding-left:0px;
	padding-top:0px;
	}

#siteListings ul li {
	list-style:none;
	width:100%;
	padding-top:5px;
	padding-bottom:5px;
	}

#siteListings ul p {
	padding-left:0px;
	padding-bottom:5px;
	}


#adSpace {
	text-align:center;
	line-height:12px;
	font-size:12px;
	background-color:#FFFFFF;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:20px;
	padding-top:0px;
	width:260px;
	}


#adSpace h2 {
	color:#CC0000;
	font-weight:bold;
	background-color:#FFFFFF;
	font-size:13px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-bottom:5px;
	padding-top:5px;
	}

#adSpace h3 {
	color:#000000;
	font-weight:bold;
	background-color:#FFFFFF;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-top:10px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
	}

#adSpace h4 {
	background-color: #FFFFCC;
	line-height: 14px;
	font-size:11px;
	letter-spacing: normal;
	word-spacing: normal;
	display: block;
	padding: 6px;
}

#adSpace a:hover {
	background: none;
	border:none;
	}

p.adPic {
	line-height:normal;
	margin-top:0px;
	padding-top:0px;
	margin-bottom:0px;
	padding-bottom:0px;
	}

p.adText {
	line-height:normal;
	margin-top:0px;
	padding-top:0px;
	margin-bottom:0px;
	padding-bottom:0px;
	font-size:10px;
	}
	
p.howtos {
	line-height:normal;
	margin-top:0px;
	padding-top:0px;
	margin-bottom:0px;
	padding-bottom:0px;
	font-size:12px;
	}

#nav1 {
	width:930px;
	margin-left:0px;
	padding-left:0px;
	
	margin-right:20px;
	padding-right:0px;
	
	margin-top:0px;
	padding-top:0px;
	
	margin-bottom:6px;
	padding-bottom:0px;
	
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;

	font-size:13px;
	font-weight:bold;
	color:#CC0000;
	background:#EFEFEF;
}


#nav1 a {
	display:block;
	margin:0px;
	line-height:16px;
	text-decoration:underline;
	color:#000000;
}

#nav1 a:hover {
	display:block;
	margin:0px;
	line-height:16px;
	text-decoration:none;
	color:#CC0000;
	background-color:#FFFFFF;
}


#topnav {
	width:930px;
	margin-left:0px;
	padding-left:0px;
	
	margin-right:0px;
	padding-right:0px;
	
	margin-top:0px;
	padding-top:0px;
	
	margin-bottom:4px;
	padding-bottom:0px;
	
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;

	font-size:14px;
	font-weight:bold;
        font-style:italic;
	color:#CC0000;
	background:#FFFFFF;
}


#topnav a {
	display:block;
	margin:0px;
	line-height:16px;
	text-decoration:underline;
        background-color: #666666;
	color:#FFFFFF;
        padding: 2px;
}

#topnav a:hover {
	display:block;
	margin:0px;
	line-height:16px;
	text-decoration:none;
	color:#CC0000;
	background-color:#FFFFFF;
}


#nav2 {
	width:930px;
	margin-left:0px;
	padding-left:0px;
	
	margin-right:20px;
	padding-right:0px;
	
	margin-top:0px;
	padding-top:0px;
	
	margin-bottom:10px;
	padding-bottom:0px;
	
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	
	font-size:13px;
	font-weight:bold;
	color:#CC0000;
	background:#CC0000;
}
	
#nav2 .current {
	width:150px;
	display:block;
	background:#EFEFEF;
	color:#CC0000;
	border-top: 0px;
	border-bottom: 0px;
}

#nav2 td a {
	width:150px;
	display:block;
	margin:0px;
	line-height:16px;
	text-decoration:underline;
	color:#FFFFFF;
}

#nav2 td a:hover {
	width:150px;
	display:block;
	margin:0px;
	line-height:16px;
	text-decoration:none;
	color:#CC0000;
	background-color:#FFFFFF;
}

#mathlets {
margin: 3px;
padding: 0px;
border-right:1px solid #999999; 
float:left;
width:300px;
}

#tutorials {
margin: 3px;
padding: 0px;
float:left;
width:300px;
}

#aboutUs {
	text-align:left;
	float:right;
	background:#EFEFEF;
	width:75px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	margin-left:5px;
	font-size:12px;
	font-weight:bold;
	}
	
#bottomInfo {
	clear:both;
	text-align:left;
	background:#EFEFEF;
	border-top: 1px solid #CCCCCC;
	width:910px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	margin-left:5px;
	margin-top:20px;
	font-size:11px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	}
	
#bottomInfo ul {
	width:870px;
	text-align:left;
	list-style:none;
}

#bottomInfo ul li {
	display:inline;
	border-left: 1px solid #000000;
	padding-left: 10px;
	margin-left: 0px;
	margin-top:10px;
	padding-top:0px;
	margin-left:0px;
	padding-right: 10px;
	margin-right:0px;
}

a.pic:hover {

 background: none;

}

a.pic:link img {

border-style: none;

}

a.pic:visited img {


border-style: none;

}
          
a.pic:hover img {

 border-style: none;

}

a.pic:active img {

border-style: none;

}

p.book {
    line-height:normal;
	margin-top:10px;
	padding-top:0px;
	margin-bottom:10px;
	padding-bottom:0px;
	font-size:12px;
	font-weight:bold;
   }
   
p.book2 {
    line-height:normal;
	margin-top:10px;
	padding-top:0px;
	margin-bottom:10px;
	padding-bottom:0px;
	font-size:11px;
   }
   
   